
<div class="conditionsale-precio-envio">
    <h4>1.-Shipping and handling fees</h4>

    <p>We calculate the following fees:</p>

    <ol>
        <li>Store Pickup: free</li>
        <li>Within Spanish: 7,00 €</li>
        <li>Within europe: 14,00 €</li>
        <li>to USA / Canada: 25,00 €</li>
        <li>to Norway / Australia: 30,00 €</li>
        <li>to all other countries: 35,00 €</li>
    </ol>
    The individual shipping fees might turn out to be cheaper. <br />
    In this case we will reimburse the difference.

</div>


<div class="conditionsale-metodopago">

    <h4>2.-Methods of payment</h4>
    <ol>
        <li>with credit card</li>
        <li>direct bank transfer</li>
        <li>PayPal(normal payment (+ 6%) and friend payment(0%)</li>
        <li>cash (store only)</li>
    </ol>
</div>


<div class="conditionsale-TiempoEnvio">
    <h4>3.-Time of delivery</h4>
    <ol>

        <li>Spain: about. 1 – 4 days</li>

        <li> Europe: about 3 – 10 days</li>

        <li>All other countries: about 4 – 14 days</li>
    </ol>
</div>


<div class="conditionsale-instruc-devol">

    <h4> 4.-Information on the right of withdrawal and instructions: </h4>
    Right of withdrawal
    Consumers are entitled to a right of withdrawal in accordance with the following provisions, whereby a consumer is any natural person who concludes a legal transaction for purposes that are predominantly neither commercial nor self-employed:<br /><br />

    Right of withdrawal<br />
    You have the right to cancel this contract within fourteen days without giving any reason.<br /><br />

    The cancellation period is fourteen days from the day on which you or a third party named by you who is not the carrier has taken possession of the goods.<br /><br />

    In order to exercise your right of withdrawal, you must contact us (Intaria Militaria, Carnero 13, 28005 Madrid,Madrid phone: (+34) 609 222 175, E-Mail: intaria@intariamilitaria.com) by means of a a clear declaration (e.g. a letter sent by post, fax or email) of your decision to withdraw from this contract. You can use the attached model withdrawal form for this purpose, but this is not mandatory.<br /><br />

    To meet the cancellation deadline, it is sufficient for you to send your notification of exercising your right of cancellation before the cancellation period has expired.<br /><br />

    Consequences of withdrawal<br />
    If you withdraw from this contract, we will have given you all the payments that we have received from you, including delivery costs (with the exception of the additional costs that result from choosing a different type of delivery than the cheapest standard delivery offered by us have), to be repaid immediately and at the latest within fourteen days from the day on which we received notification of your cancellation of this contract. For this repayment we use the same means of payment that you used for the original transaction, unless something else was expressly agreed with you; In no case will you be charged any fees for this repayment. We can refuse the repayment,<br /><br />

    You must return or hand over the goods to us immediately and in any case no later than fourteen days from the day on which you informed us of the cancellation of this contract. The deadline is met if you send the goods before the period of fourteen days has expired.<br /><br />

    You bear the direct costs of returning the goods.<br /><br />

    You only have to pay for any loss in value of the goods if this loss in value is due to handling you that is not necessary to check the nature, properties and functionality of the goods.<br /><br />

    End of revocation
</div>


<div class="conditionsale-customer-information">
    <h4>5.- Customer Information</h4>C
    Dear customer,<br /><br />

    The following customer information site fulfills our legal duties to inform and notify. We here inform you about all matters concerning the conclusion of the contract through your order and its processing.<br /><br />

    The customer information does not represent any contractual conditions. These can be found in the General Terms and Conditions. You obtain all customer information with the delivery of the goods by means of a delivery note.<br /><br />

    1. Information about the supplier<br />
    This internet site is an offer from:<br /><br />

    Intaria Militaria<br />
    C/ Carnero 13 28005, Madrid, Madrid<br />
    Barrio Bajada al Puerto, 23, 33330 Lastres,Asturias<br />
    Phone: +34 609 222 175<br />
    intaria@intariamilitaria.com<br /><br />

    Complaints can be made here , too.<br /><br />


    Information on the right of withdrawal and instructions:<br />
    Right of withdrawal<br />
    Consumers are entitled to a right of withdrawal in accordance with the following provisions, whereby a consumer is any natural person who concludes a legal transaction for purposes that are predominantly neither commercial nor self-employed:<br /><br />

    Right of withdrawal<br />
    You have the right to cancel this contract within fourteen days without giving any reason.<br /><br />

    The cancellation period is fourteen days from the day on which you or a third party named by you who is not the carrier has taken possession of the goods.<br /><br />

    In order to exercise your right of withdrawal, you must contact us (Intaria Militaria, Carnero 13, 28005 Madrid,Madrid phone: (+34) 609 222 175, E-Mail: intaria@intariamilitaria.com) by means of a a clear declaration (e.g. a letter sent by post, fax or email) of your decision to withdraw from this contract. You can use the attached model withdrawal form for this purpose, but this is not mandatory.<br /><br />

    To meet the cancellation deadline, it is sufficient for you to send your notification of exercising your right of cancellation before the cancellation period has expired.<br /><br />

    Consequences of withdrawal<br />
    If you withdraw from this contract, we will have given you all the payments that we have received from you, including delivery costs (with the exception of the additional costs that result from choosing a different type of delivery than the cheapest standard delivery offered by us have), to be repaid immediately and at the latest within fourteen days from the day on which we received notification of your cancellation of this contract. For this repayment we use the same means of payment that you used for the original transaction, unless something else was expressly agreed with you; In no case will you be charged any fees for this repayment. We can refuse the repayment,<br /><br />

    You must return or hand over the goods to us immediately and in any case no later than fourteen days from the day on which you informed us of the cancellation of this contract. The deadline is met if you send the goods before the period of fourteen days has expired.<br /><br />

    You bear the direct costs of returning the goods.<br /><br />

    You only have to pay for any loss in value of the goods if this loss in value is due to handling you that is not necessary to check the nature, properties and functionality of the goods.<br /><br />

    End of revocation
</div>
