<style>

    .privacy {
        background: #bebebe;
        padding: 25px;
    }


</style>
<div class="privacy">
    <h3>PRIVACY</h3><br />
    Intariamilitaria.com undertakes to respect your privacy when you visit this website and collect personal data only when you provide it voluntarily. The personal data is treated confidentially according to the <br />

    Organic Law 15/1999, of December 13, Protection of Personal Data, and will only be used to serve you better. Specifically, this information is used to contact you, keep you informed of new products or <br />

    services or to customize the site to your preferences or needs, in any case IntariaMilitaria.com will commercialize this information with third parties. IntariaMilitaria.com take the necessary measures to <br />
    prevent alteration, treatment or unauthorized access to the data collected. In any case you can exercise your rights of correction or deletion of data.<br /><br />

    Some sections of this website use cookies. A cookie is a string of information stored on the user's PC. The purpose of a cookie is to improve service when you revisit the site. By collecting information about your<br /><br />

    preferences, the web site can act individually when you reconnect. They also help improve the website by identifying which are the most visited sections, which allows IntariaMilitaria.com improve their service. In<br />

    these cases IntariaMilitaria.com use the information only for statistical purposes.<br /><br />

    You can set your browser to notify the application will install a cookie or to reject them completely. Accepting the cookie in no way gives access to IntariaMilitaria.com your computer or to information you do not<br />

    want to share with the company.<br /><br />

    For any questions about this privacy statement, about your interaction with this website, you do not want to receive more information about IntariaMilitaria.com or if you want to correct or update the information<br />

    provided does not hesitate to contact IntariaMilitaria.com through the form contact.

</div>

