
<style>

    .privacy {
        background: #bebebe;
        padding: 25px;
    }
</style>
<div class="">
    <h3>About us</h3><br />
    We are professionals dedicated to the purchase and sale of military antiques
    We also travel around the world to find the best collectibles and offer our customers quality pieces.
    We go to private homes without any kind of commitment
</div>
<br /><br />

<video 
 width=320  height=220  controls src="~/videos/video-tienda.mp4"  poster="~/videos/tienda.jpg"></video>
